nav{
    margin: 0;
    position: static;
    width: 100%;
    height: auto;
    display: flex;             /* Use flexbox layout */
    justify-content: space-between; /* Distribute items evenly */
    list-style-type: none;    /* Remove bullet points */
    
    h4{
        font-size: 1.5rem;
        width: 300px;
    }

    .menu{
        padding-top: 40px;
        width: 900px;
        height: auto;
        text-align: center;            /* Center the list */
        list-style-type: none;         /* Remove bullet points */  
        
        li{
            display: inline-block;         /* Make items inline */
            width: 10%;
        }

        a{
            text-decoration: none;
            display: inline;
        }

  
    }
    /* TODO: Need to fix*/
    button{
        font-size: large;
        height: 50px;
        width: 130px;
        border-radius: 40px;
        border: none;
        background-color: rgb(158, 63, 253);
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        
    
        a{
            text-decoration: none;
            color: aliceblue;
        }
    }
    #button:hover{
        box-shadow: inset 150px 0 0 0 black;
    }

}

.buttonMenu{
    margin-right: 80px;
    margin-top: 20px;
}

.main{
    padding-top: 200px;
    background-color: aqua;
    height: 500px;
    background-image: url(assets/abstract-background-with-colorful-wave-can-be-used-presentations-wallpapers-websites_14117-313327.avif);
    background-size:cover;

}

h6{
    font-size: 1.5rem;
}

.plans{
    h6{
        font-size: medium;
    }
}

.Experience{
    background-color: rgb(22, 22, 63);
    color: white;

}